body {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size: 12px; 
line-height: 150%; 
color: #313131;  
margin-left: 0px!important;	
margin-top: 0px;
margin-bottom: 0px; 
margin-right:0px; 
background:url(images/bg2_02.png) repeat-x #736d5f;height: 100% !important;
	height: auto;}
a { color: #2084ff; text-decoration:none; outline: none;}
a:hover { text-decoration: underline; }
/*Настройка заго?в*/
h1 { font-size: 1.5em; line-height: 150%; color: #FFFFFF;}
h2 { font-size: 1.2em; font-weight: bold; line-height: 140%; color: #2084ff;}
h3 { font-size: 1.1em; font-weight: bold; line-height: 140%; }
h4 { font-size: 1em; font-weight: bold; line-height: 140%; }
h5 { font-size: 1em; font-weight: bold; line-height: 140%; }

.index {margin-left: auto; margin-right: auto; padding:0px; width:975px; border:none; padding-top:10px; vertical-align:top;}
.index2 {padding:0px; width:975px; border:none;}
.itd {border:none; padding:0px; padding-top:148px;}
.itdv {border:none; padding:0px;}
.header1 { background:url(images/header_03.png)  0 0 no-repeat; height:145px;}
.header2 { background:url(images/header_04.png) 0 0 repeat-x; height:145px;}
.header3 { background:url(images/header_06.png) 100% 0 no-repeat; height:145px; padding: 0px 30px 0px 31px;}
.logo {background:url(images/t_03.png) no-repeat top left; border:0px; width:217px; position:absolute; margin-top:30px; height:60px;}

.cp {background:url(images/bl_03.png) no-repeat top left; border:0px; width:245px; position:absolute; margin-top:68px; margin-left:205px; height:38px;}

.hhhembtn {position: absolute; left: 118px; top: 10px; width: 200px; height: 18px;}
a.bbttnhome img { background: transparent url("images/homebtntop.png") no-repeat 11px 4px; }
a.bbttnhome2 img { background: transparent url("images/homebtntop.png") no-repeat -22px 4px;}
a.bbttnhome3 img { background: transparent url("images/homebtntop.png") no-repeat -56px 4px; }
a.bbttnhome4 img {background: transparent url("images/homebtntop.png") no-repeat -95px 4px; width: 92px; height: 18px;}

a.bbttnhome:hover img { background: transparent url("images/homebtntop.png") no-repeat 11px -35px; }
a.bbttnhome2:hover img { background: transparent url("images/homebtntop.png") no-repeat -22px -35px;}
a.bbttnhome3:hover img { background: transparent url("images/homebtntop.png") no-repeat -56px -35px; }
a.bbttnhome4:hover img { background: transparent url("images/homebtntop.png") no-repeat -95px -35px; }


.banner {border:0px; position:absolute; margin-top:30px; margin-left:445px; height:38px;}
.tmenur {height:33px; overflow: hidden; margin-top:-37px; margin-left:25px; position:absolute;}
.topmenu { font-size: 20px; }
.topmenu, .topmenu li { display: inline; }
.topmenu li a { padding: 0 15px; border-right: 1px solid #fb9709; color: #fff !important; float: left; height:32px; font-weight: normal; line-height: 25px; text-decoration: none !important; }
.topmenu li a:hover, .topmenu li a.selected { background-color:#fb9709; }
.submenu { margin: -2px 0 0 0; background-color: #f9890b; position: absolute; top: 0; z-index:999; width: 180px; visibility: hidden; padding: 4px;}
.submenu li { padding: 1px; }
.submenu a {height: 20px; line-height: 18px; display: block; text-indent: 12px; text-decoration: none !important; color: #fff; }
.submenu a:hover { border: 1px solid #fb9709; background-color: #fb9709; color: #fff; }
.twocols { width: 360px; }
.threecol { width: 540px; }
.twocols ul { float: left; width: 49.9%; }
.threecol ul { float: left; width: 33.3%; }
.reset, .reset li, #pager ul, #pager ul li { margin: 0; padding: 0; list-style: none; }


.b4{background:url(images/b_03.png) 0 0 repeat-y;}
.b5{background: #ffffff 0 100%; overflow: hidden; }
.b6{background:url(images/b_05.png) 100% 0 repeat-y; padding: 0px 11px 0px 13px;}

.b7{background:url(images/foot_03.png) 0 0 no-repeat;}
.b8{background:url(images/foot_04.png) 0 0 repeat-x; height:12px;}
.b9{background:url(images/foot_06.png) 100% 0 no-repeat; padding: 0px 11px 0px 13px;}

.cont {padding-top:10px; padding-bottom:10px; padding-left:5px; padding-right:5px; min-height:750px;}

.o1{background:url(images/block_03.png) 0 0 no-repeat; }
.o2{background:url(images/block_04.png) 0 0 repeat-x; height:52px;}
.o3{background:url(images/block_06.png) 100% 0 no-repeat; padding: 0px 19px 0px 16px;}

.o4{background:url(images/block_08.png) 0 0 repeat-y;}
.o5{background: #ffffff 0 100%; overflow: hidden; }
.o6{background:url(images/block_11.png) 100% 0 repeat-y; padding: 0px 20px 0px 20px;}

.o7{background:url(images/block_15.png) 0 0 no-repeat;}
.o8{background:url(images/block_16.png) 0 0 repeat-x; height:22px;}
.o9{background:url(images/block_17.png) 100% 0 no-repeat; padding: 0px 20px 0px 20px;}
.titleb {padding-top:16px; color:#FFFFFF; font-size:22px; text-align:center;}

.c1{background:url(images/block_c_03.png) 0 0 no-repeat; }
.c2{background:url(images/block_c_04.png) 0 0 repeat-x; height:51px;}
.c3{background:url(images/block_c_06.png) 100% 0 no-repeat; padding: 0px 16px 0px 15px;}

.c4{background:url(images/block_c_08.png) 0 0 repeat-y;}
.c5{background: #ffffff 0 100%; overflow: hidden; }
.c6{background:url(images/block_c_11.png) 100% 0 repeat-y; padding: 0px 16px 0px 21px;}

.c7{background:url(images/block_c_12.png) 0 0 no-repeat;}
.c8{background:url(images/block_c_13.png) 0 0 repeat-x; height:16px;}
.c9{background:url(images/block_c_15.png) 100% 0 no-repeat; padding: 0px 16px 0px 21px;}
.titlec {padding-top:16px; padding-left:5px; padding-bottom:5px; color:#de0807; font-size:20px; text-align:left; text-decoration: underline;}

.contc {padding-left:5px; padding-bottom:5px; text-align:left;}

.search {background:url(images/search_03.png) no-repeat right; height:21px; position:absolute; margin-top:-32px;  margin-left:770px;}
.search_input {background:none; margin-right:0px; border:none; height:19px; width:142px;}
.search_bottom {border:none; margin-top:-24px; margin-right:-30px;}
.search_bottom input{ background:url(images/bot_03.png) no-repeat top; width:30px;}
.search_bottom input:hover { background:url(images/bot_03.png) no-repeat bottom; width:30px;}



.boobr{height:61px; width:103px; position:absolute; margin-left:990px; margin-top:-110px;}
.footers  {margin-top:80px; position:absolute; text-align:left; margin-left:5px; color:#bbbab7;}
.footers a {color:#3e3e3e;}
.footm  {margin-top:20px; position:absolute; text-align:left; margin-left:5px; color:#d46b1e;}
.footm a {color:#3e3e3e;}
.knop {margin-top:-46px; padding-left:150px; text-align:center; margin-left:50px;}

.tl {background:url(images/t_10.png) top right no-repeat; height:776px; width:139px; position:absolute; margin-left:-135px;}
.tr {background:url(images/t_07.png) top left no-repeat; height:775px; width:139px; position:absolute; margin-left:-2px;}
.tf {background:url(images/fot_03.png) no-repeat; height:120px; width:1117px; margin-top:-2px;}
