* {
	outline: none;
	outline-color: #fafafa;
}

body {
	font-family: "tahoma";
	font-size: 8pt;
	color: #306a82;
	margin: 0;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0;
	background: #000;
}

.linked-image {
	margin: 0;
	padding: 0;
	border: 0;
}

.resized-linked-image {
	margin: 1px 0 0 0;
	padding: 0;
	background-color: #000;
	border: 0;
	color: #fff;
	font-size: 10px;
	width: auto;
}

.resized-linked-image-zoom {
	width: 200px;
	height: 30px;
	background-color: #fff;
	padding-top: 6px;
	padding-left: 5px;
	top: 0;
	left: 0;
	position: absolute;
	display: none;
}

.nobr {
	white-space: nowrap;
}

#highlighted {
	background-color: #fafafa;
}

#highlighted tr:hover {
	background-color: #f5fbe1;
}

#tooltip {
	background: #ffffff;
	font-size: 10px;
	width: auto;
	border: 1px solid #778899;
	border-left: 5px solid #ff9f00;
	color: #333333;
	font-family: verdana, arial, helvetica, sans-serif;
	line-height: 15px;
	z-index: 100;
	margin: 0;
	padding: 3px;
	position: absolute;
	visibility: hidden;
	border-collapse: separate;
}

.error {
	color: #990000;
	background-color: #fff0f0;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 10px;
	border: 1px dashed #990000;
}

.error b {
	color: #990000;
	background: inherit;
}

.success {
	color: #000000;
	background: #f5fbe1;
	padding: 7px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px dashed #7ba813;
}

.success b {
	color: #7ba813;
	background: inherit;
}

.editor {
	margin: 0 0 1px 0;
	width: 400px;
	height: 21px;
	border: 1px solid #d1d8ec;
}

.editorinput {
	background: #fafafa;
	color: #000000;
	border: 1px solid #d1d8ec;
	font-size: 11px;
	font-family: Verdana, Helvetica;
	text-decoration: none;
}

.editorbutton {
	float: left;
	cursor: pointer;
	padding: 2px 1px 0 5px;
}

code {
	background: none;
	color: #0000ff;
	font-size: 11px;
	font-family: Verdana, Helvetica;
}

.code {
	color: #0000bb;
	font-size: 11px;
	font-family: Verdana, Helvetica;
}

hr {
	height: 0;
	border: 0 solid #00314d;
	border-top-width: 1px;
}

table {
	border-collapse: collapse;
	border: none;
	background-color: #fafafa;
}

table.main {
	background-color: #fafafa;
}

table.mainouter {
	background-color: #ededed;
	border: 0;
}

table.bottom {
	color: #ffffff;
	background: transparent;
}

table.main2 {
	background-color: #fafafa;
	border: 0;
}

table.blok {
	background-color: #fafafa;
}

h1 {
	font-size: 12pt;
	text-align: center;
}

h2 {
	background-image: url(images/cellpic.gif);
	font-size: 10pt;
	margin-bottom: 0;
	margin-top: 0;
	height: 24px;
	border-width: 0;
	border-style: solid none solid;
	text-align: center;
}

h3 {
	font-size: 10pt;
	margin-bottom: 5px;
	text-align: center;
}

p {
	font-size: 8pt;
}

p.sub {
	margin-bottom: 4pt;
}

td {
	font-size: 8pt;
	border: 1px solid #fafafa;
}

td.tt {
	border: 0px #f0ecda;
}

td.block {
	font-size: 8pt;
	border: 0;
}

td.right_menu {
	border: 0;
}

td.commenttable {
	background-color: #fffef2;
}

td.embedded {
	border: none;
	text-align: left;
}

td.bottom {
	border: none;
}

td.heading {
	font-weight: bold;
}

td.text {
	padding: 10pt;
	text-align: left;
}

td.comment {
	padding: 10pt;
	font-size: 8pt;
	text-align: left;
}

td.colhead {
	font-weight: bold;
	height: 24px;
	color: #000;
	background-image: url(images/cellpic.gif);
}

td.rowhead {
	font-weight: bold;
	text-align: right;
	vertical-align: top;
}

td.title {
	font-size: 14pt;
}

td.navigation {
	font-weight: bold;
	font-size: 10pt;
	border: none;
}

td.pager {
	background-color: #ffffff;
	border: 1px solid #9ca4b0;
	padding: 2px;
}

td.pagebr {
	background-color: #fafafa;
	border: 0;
	padding: 0;
}

td.highlight {
	background-color: #efeee6;
	border: 1px solid #9ca4b0;
	padding: 2px;
}

td.menu {
	background-image: url(images/bar.jpg);
	border: 1px solid #000000;
	color: #ffffff;
	border-style: none solid solid solid;
}

#topmenu {
	font-family: Arial;
	font-size: 8pt;
	text-align: center;
	margin: 0;
	padding: 0;
}

#topmenu a {
	outline: 0;
	color: #fff;
	padding: 0 3px 0 3px;
	text-decoration: none;
}

#topmenu a span {
	padding: 0 5px 0 1px;
}

#topmenu a span:hover {
	color: #edde73;
}

.thumbnail img {
	border: 1px solid white;
	margin: 0 5px 5px 0;
}

.thumbnail:hover {
	background-color: transparent;
}

.thumbnail:hover 

img {
	border: 1px solid blue;
}

.thumbnail span {
	position: absolute;
	padding: 5px;
	left: -1000px;
	border: 1px dashed gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img {
	border-width: 0;
	padding: 2px;
}

.thumbnail:hover span {
	visibility: visible;
	top: 0;
	left: 165px;
	z-index: 50;
}

form {
	margin-top: 0;
	margin-bottom: 0;
}

.sublink {
	font-style: italic;
	font-size: 7pt;
	font-weight: normal;
}

a:link,a:visited {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

a:hover {
	color: #0561fa;
}

a.copyright:link {
	text-decoration: none;
	color: #fcb803;
	border-top: 1px dashed #5087ad;
	padding: 0;
}

a.copyright:visited {
	text-decoration: none;
	color: #fcb803;
	border-top: 1px dashed #5087ad;
	padding: 0;
}

a.copyright:hover {
	text-decoration: none;
	color: #0561fa;
	border-top: 1px dashed #5087ad;
	padding: 0;
}

a.index {
	font-weight: bold;
}

a.biglink {
	font-weight: bold;
	font-size: 12pt;
}

a.online:link,a.online:visited {
	font-weight: normal;
	text-decoration: none;
}

a.black {
	font-weight: normal;
	color: #000;
}

a.white {
	font-weight: normal;
	color: #fff;
}

a.menu {
	display: block;
	padding: 3px;
	text-align: left;
	text-decoration: none;
	background-color: #fafafa;
	font-weight: normal;
	border-top: 1px solid #516a88;
}

a.altlink_white:link,a.altlink_white:visited {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

a.altlink_white:hover {
	text-decoration: none;
}

.important {
	font-weight: bold;
	font-size: 8pt;
}

div.popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 170px;
	height: 85px;
	border: 1px solid black;
	display: none;
}

.red {
	color: #ee0000;
}

.yellow {
	color: #997700;
}

.green {
	color: #000000;
}

.top {
	line-height: 30px;
	list-style: none;
	margin: 0;
	padding: 0 10px 0 10px;
}

.valid {
	text-align: center;
}

input,select,textarea {
	margin-top: 3px;
	margin-bottom: 0;
	font-family: "tahoma";
	font-size: 8pt;
}

.small {
	font-size: 7pt;
}

.big {
	font-size: 10pt;
}

li {
	margin-top: 6pt;
	margin-bottom: 6pt;
}

ul {
	margin-left: 16pt;
	margin-top: 0;
	margin-bottom: 0;
}

input.button {
	border: 1px solid #ffc58c;
	background-color: #ffc58c;
}